@model TP3.Web.ViewModels.DetailsCategoriesVM

<p>@Model.Titre</p>
<p>@Model.Description</p>
<ul>
@foreach (var produit in Model.ProduitsRelies)
{
        <li><a href="/Produits/Details/@produit.Id">@produit.Nom</a></li>
}
</ul>
